*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: white;
}
html , body{
    height: 100%;
    perspective: 800px;
    width: 100%;
}
#nav{
     height: 150px;
     width: 100%;
    /* background-color: brown;*/
     display: flex;
     justify-content: start;
     align-items: center;
     padding: 50px 100px;
     position: fixed;
     gap: 20px;
     z-index: 99;
 }

#nav img{
    height: 70px;

}
#nav h4{
    font-weight: 400;
}

video{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    display: block;
    z-index: -1;
}
#main{
      position: relative;
      background-color: rgba(0, 0, 0, 0.365);
       

}

#cursor{
         height: 25px;
         width: 25px;
         border-radius: 50%;
         background-color: blue;
         position: fixed;
         z-index: 99999;


}
#cursorblr{
         height: 200px;
         width: 200px;
         border-radius: 50%;
         background-color: blue;
         position: fixed;
         filter: blur(100px);
         z-index: 9;


}

/*page 1*/


#page1{
       height: 100vh;
       width: 100%;
       position: relative;
       display: flex;
        font: "montserrat";
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column ;
       text-align: center;
       z-index: 10;
}


/* for pseudo elements */

#page1 h1::before{
    content: "EAT. DRINK. WEAR";
    position: absolute;
    color: black;
    left: -2px;
    top: -2px;
    -webkit-text-stroke: 2px blue;
    z-index: -1;

}

#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
}
#page1 h2{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 15px;
    font-weight: 500;
    width: 50%;
}




/* page 2 */


#page2{
    height: 179vh;
    width: 100%;
    z-index: 10;

}

#scroller{
    
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    
    
}

#scroller::-webkit-scrollbar{display: none;}

#scroller_1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroller h4:hover{
    color: blue;
}


#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 1300;
    font-family: gilroy;
    margin-right: 10px;
    color: black;
    -webkit-text-stroke: 2px white;
}

@keyframes scroll{
    from{
        transform: translateX(0);

    }
    to{
        transform: translateX(-100%);
    }
}


#about_us{

    height: 50vh;
    width: 100%;
    /* background-color:blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    z-index: 10;
    position: relative;
}

#about_us img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    object-fit: cover;

}

#about_us_in{
    width: 50%;
    text-align: center;
}

#about_us_in h3{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

#about_us_in p{
    font-size: 20px;
    line-height: 30px;
}


#cardscont{
    height: 60vh;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
    z-index: 10;
}
.cards{
    height: 80%;
    width: 20%;
    /* background-color: black; */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.5s;
    
}

#card1{
    background-image: url(https://media.craiyon.com/2025-07-16/BRXOINf_STq7VNwpEHvYPQ.webp);
}

#card2{
    background-image: url(https://media.craiyon.com/2025-07-25/tr2N8OcmQ_eLTKJR3cpyug.webp);
}
#card3{
    background-image: url(https://media.craiyon.com/2025-07-08/7JJj3KGaRmO_VjBDRePxlA.webp);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 30px;
    padding-top: 90px;
    opacity: 0;
    transition: all ease 0.5s;
    
}

.overlay h4{
    font-size: 21px;
    color: black;
    font-weight: 800;
    white-space: nowrap ;
    margin-bottom: 20px;
}
.overlay p{
      color: black;
      font-size: 17px;
}

.cards:hover .overlay{
    opacity: 1;
}

.cards :hover{

    transform: rotate3d(1 ,-1 ,0 , 25deg);
}

#greendiv{
    height: 50vh;
     background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom , yellow , white);

}

#greendiv h4{
    width: 50%;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    color: black;

}

#greendiv img{
    height: 100%;
    object-fit: cover;
    width: 150px;
}



#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

} 

#page3 p{
    
    font-size: 30px;
    font-weight: 800;
    width: 50%;
    line-height: 45px;
    text-align: center;
}
   

#page3 img{
    position: absolute;
    height: 30px;
}

#page3 #colon1{
    top: 28%;
    left: 20%;
}

#page3 #colon2{
    right: 20%;
    bottom: 30%;
}




 #page4{
    height: 50vh;
    /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.rects{
    height: 60%;
    width: 29%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.rects h2{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: black;
    font-weight: 900;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
}

.rects img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;

}


.rects:hover h2{
    color: white;
    background: transparent;
}

.rects:hover img{
    scale: 1;
}

#page4 h1{
    font-size: 74px;
    position: absolute;
    top: -0.4%;
    font-weight: bolder;
    color: black;
    -webkit-text-stroke: 1px white;
}

#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom , yellow ,   white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 130px;
    padding-left: 50px;
    
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img{
    height: 100px;
}
#f1 ,#f2 ,#f3,#f4{
    width: fit-content;
    line-height: 30px;
    position: relative;

}

#f2 h3{
    font-size: 25px;
    font-weight: 800;
    color: black;
    margin-bottom: 8px;
    white-space: nowrap;
}
#f3 h3{
    color: black;
    font-size: 25px;
    margin-bottom: 8px;
    white-space: nowrap;

}
#f4 h4{
    color: black;
    font-size: 18px;
    white-space: nowrap;
    margin-bottom: 8px;
    
}
